<section class="section cards">
    <div class="container container-choose-cards">
        <h2 class="title-choose-cards">
            Choose your dream yacht and sail away into the sunset
        </h2>
        <!--section>h2+(ul>li*3>img+h3+p+(ul>li*5>p*2))+button-->
        <div class="cards-box">
            <ul class="cards-list">
                <li class="cards-item">
                    <img class="cards-img" 
                        src="../img/Choose/img yaht-1.webp" 
                        alt="Photo jacht1"
                        width="360"
                        height="268">
                    <div class="cards-title-box">
                        <h3 class="cards-title">arrow</h3>
                        <p class="cards-title-text">luxury yachts</p>
                    </div>
                    <hr class="cards-hr">
                    <div class="cards-prop-box">
                        <ul class="cards-prop-list">
                            <li class="cards-prop-item">
                                <p class="prop-item-title">length</p>
                                <p class="prop-item-text">48m(155ft) </p>
                            </li>
                            <li class="cards-prop-item">
                                <p class="prop-item-title">builder</p>
                                <p class="prop-item-text">admiral</p>
                            </li>
                            <li class="cards-prop-item">
                                <p class="prop-item-title">built</p>
                                <p class="prop-item-text">2021</p>
                            </li>
                            <li class="cards-prop-item">
                                <p class="prop-item-title">guests</p>
                                <p class="prop-item-text">11 in 5 cabins</p>
                            </li>
                            <li class="cards-prop-item">
                                <p class="prop-item-title">price</p>
                                <p class="prop-item-text">€33,500,000</p>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="cards-item">
                    <img class="cards-img" 
                        src="../img/Choose/img yaht-2.webp" 
                        alt="Photo jacht2" 
                        width="360"
                        height="268">
                    <div class="cards-title-box">
                        <h3 class="cards-title">benetty oasis 40m BO122</h3>
                        <p class="cards-title-text">luxury yahts</p>
                    </div>
                    <hr class="cards-hr">
                    <div class="cards-prop-box">
                        <ul class="cards-prop-list">
                            <li class="cards-prop-item">
                                <p class="prop-item-title">lenght</p>
                                <p class="prop-item-text">41m (133ft)</p>
                            </li>
                            <li class="cards-prop-item">
                                <p class="prop-item-title">shipyard</p>
                                <p class="prop-item-text">Benetti</p>
                            </li>
                            <li class="cards-prop-item">
                                <p class="prop-item-title">bult</p>
                                <p class="prop-item-text">2025</p>
                            </li>
                            <li class="cards-prop-item">
                                <p class="prop-item-title">guests</p>
                                <p class="prop-item-text">10 in 5 cabins</p>
                            </li>
                            <li class="cards-prop-item">
                                <p class="prop-item-title">price</p>
                                <p class="prop-item-text">€23,210,000</p>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="cards-item">
                    <img class="cards-img" 
                        src="../img/Choose/img yaht-3.webp" 
                        alt="Photo jacht3" 
                        width="360"
                        height="268">
                    <div class="cards-title-box">
                        <h3 class="cards-title">belle anna</h3>
                        <p class="cards-title-text">luxury yahts</p>
                    </div>
                    <hr class="cards-hr">
                    <div class="cards-prop-box">
                        <ul class="cards-prop-list">
                            <li class="cards-prop-item">
                                <p class="prop-item-title">lenght</p>
                                <p class="prop-item-text">50m(155ft) </p>
                            </li>
                            <li class="cards-prop-item">
                                <p class="prop-item-title">shipyard</p>
                                <p class="prop-item-text">isa</p>
                            </li>
                            <li class="cards-prop-item">
                                <p class="prop-item-title">built</p>
                                <p class="prop-item-text">2012</p>
                            </li>
                            <li class="cards-prop-item">
                                <p class="prop-item-title">guests</p>
                                <p class="prop-item-text">12 in 6 cabins</p>
                            </li>
                            <li class="cards-prop-item">
                                <p class="prop-item-title">price</p>
                                <p class="prop-item-text">€21,000,000</p>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>

        <button class="cards-btn" type="button">Yacht rental</button>

    </div>
</section>