<header class="header-page">
  <div class="container header_container">
    <!-- (nav>a+ul>li*3>a)+ul>li*3>a -->
    <div class="header-box">
      <nav class="header-page-nav">
        <a href="./index.html" class="header-page-logo">
          <!--<img src="./images/Logo/yachtjet.png" alt="Logo" width="74" height="24">-->
          <p>yachtjet</p>
        </a>
        <ul class="heasder-page-nav-list">
          <li class="nav-list-item">
            <a class="nav-list-link current" href="#about" width="91" height="40">
              About
            </a>
          </li>
          <li class="nav-list-item">
            <a class="nav-list-link" href="#yachts" width="91" height="40">
              Yachts
            </a>
          </li>
          <li class="nav-list-item">
            <a class="nav-list-link" href="#reviws" width="91" height="40">
              Reviews
            </a>
          </li>
        </ul>
      </nav>

      <!-- social -->
      <ul class="header-page-social-list">
        <li class="socials-list-item">
          <a class="socials-link" 
            href="https://instagram.com" 
            target="_blank" 
            rel="noopener noreferrer"
            aria-label="Site Instagram">
            <!-- <img class="social-item-icon"
                                        src="./images/Menu/instagram.png"
                                        alt="Icon Instagram"> -->
            <svg class="icon-header-link" 
              width="24" 
              height="24">
              <use href="../img/icon/symbol-defs.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="socials-list-item">
          <a class="socials-link" 
            href="https://www.youtube.com/" 
            target="_blank" 
            rel="noopener noreferrer"
            aria-label="Site youtube">
            <!-- <img class="socials-item-icon" src="../images/Menu/youtube.png" alt="Icon youtube"> -->
            <svg class="icon-header-link" 
              width="24" 
              height="24">
              <use href="../img/icon/symbol-defs.svg#icon-youtube"></use>
            </svg> 
          </a>
        </li>
        <li class="socials-list-item">
          <a class="socials-link" 
            href="https://facebook.com" 
            target="_blank" 
            rel="noopener noreferrer"
            aria-label="Site Facebook">
            <!-- <img class="social-item-icon" src="../images/Menu/facebook.png" alt="Icon Facebook"> -->
             <svg class="icon-header-link" 
              width="24" 
              height="24">
              <use href="../img/icon/symbol-defs.svg#icon-fbook"></use>
            </svg>  
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
<!-- #endregion header-->