<section class="section section-input">

    <div class="container container-input">
        <div class="input-box">
            <img class="input-img" 
                src="../img/Block/img-block4.jpg" 
                alt="Photo block4" 
                width="768" 
                height="536">
        </div>
        <div class="input-all-box">
            <p class="input-title">
                Rent a yacht now
            </p>

            <form class="input-form-box">
                <label class="label-form">
                    <input class="input-form" type="text" name="username" placeholder="Full name">
                </label>
                <label class="label-form">
                    <input class="input-form" type="email" name="useremail" placeholder="Email">
                </label>
                <label class="label-form">
                    <input class="input-form" type="tel" name="usertel" placeholder="Phone number">
                </label>
                <label class="textarea-label">
                    <textarea class="textarea-form" name="comment" placeholder="Comment"></textarea>
                </label>
                <button class="input-send-btn" type="submit">
                    Send
                </button>
            </form>

        </div>
    </div>
</section>