.section {}

.hero {
    padding-top: 155px;
    padding-bottom: 0;
}

.hero-img {
    background-image: url(../img/hero/hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 800px;
    z-index: -1;
    margin: 0 auto;
}

.container {}

.hero-container {
    width: 1001px;
    text-align: center;
    padding: 150px 0;
}

.hero-title {
    /* font: 500 80px / 1 "Inter", sans-serif; */
    font-weight: 500;
    font-size: 80px;
    line-height: 1;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fbfbfb;
    padding-bottom: 12px;
}

.hero-text {
    /* font: 300 16px / 1.4 "Inter", sans-serif; */
    font-weight: 300;
    font-size: 16px;
    line-height: 1.4;
    text-align: center;
    color: rgba(251, 251, 251, 0.7);
    padding: 12px 202px 48px 202px;
}

.hero-btn {
    background-color: #1b414b;
    border-radius: 15px;
    padding: 16px 40px;
    width: 179px;
    height: 52px;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #fbfbfb;
    color: #1b414b;

}