.section {}

.section-input {}

.container {}

.container-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.input-box {
    width: 768px;
    /* height: 536px; */
    border-radius: 24px;

}

.input-img {
    border-radius: 24px;
    ;
}

.input-all-box {
    display: flex;
    flex-direction: column;

}

.label-form {
    display: block;
    /* margin-bottom: 18px; */
    border-color: transparent;
}

.input-title {
    font-weight: 500;
    font-size: 48px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #fbfbfb;
    padding-bottom: 50px;
}

.input-form-box {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 18px;
    width: 472px;
}



.input-form {
    display: flex;
    border: 1px solid rgba(251, 251, 251, 0.2);
    border-radius: 12px;
    padding-block: 18px;
    padding-inline: 18px 357px;
    width: 100%;
    height: 54px;
    background-color: transparent;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    color: rgba(251, 251, 251, 0.4);
    letter-spacing: -0.02em;
}

.textarea-label {
    display: block;
}

.textarea-form {
    display: block;
    resize: none;
    border: 1px solid rgba(251, 251, 251, 0.2);
    border-radius: 12px;
    padding-block: 18px 80px;
    padding-inline: 18px 389px;
    width: 100%;
    height: 116px;
    background-color: transparent;
    overflow: hidden;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    color: rgba(251, 251, 251, 0.4);
    letter-spacing: -0.02em;
}

.input-form:hover,
.input-form:focus,
.textarea-form:hover,
.textarea-form:focus {
    color: #fbfbfb;
}


.input-send-btn {
    border-radius: 15px;
    padding-block: 18px;
    padding-inline: 75px;
    width: 194px;
    height: 56px;
    background-color: #1b414b;
    margin-top: 30px;
}

.input-send-btn:hover,
.input-send-btn:focus {
    background-color: #fbfbfb;
    color: #1b414b;

}