/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');

/* Sections style */
@import url('./header.css');
@import url('./hero.css');
@import url('./yahtjet.css');
@import url('./choose-yahts.css');
@import url('./swimm.css');
@import url('./rent-yaht.css');
@import url('./take-pride.css');
@import url('./footer.css');
