.section {}

.sings {
    padding-top: 0;
    padding-bottom: 0;
}

.container-sings {}

.visually-hidden {}

.container-sings-box {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 32px;
    width: 1340px;
    /* padding-left: 50px; */
}


.sings-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 24px;
    background-color: #1b414b;
    padding: 90px 50px;
    gap: 44px 32px;
    justify-content: space-between;

}

.sings-list-item {
    width: 318px;
    height: 100px;
    padding: 0;
}

.sings-item-lable {
    font-weight: 500;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.05em;
    color: #fbfbfb;
    padding-bottom: 18px;

}

.hr-sings {
    border-radius: 18px;
    width: 100%;
    height: 2px;
    background: rgba(251, 251, 251, 0.1);
    margin: 0;
}

.sings-list-text {
    font-weight: 400;
    font-size: 13px;
    line-height: 1.15;
    letter-spacing: -0.02em;
    color: #fbfbfb;
    opacity: 0.8;
    padding-top: 18px;
}

.sings-img {
    border-radius: 24px;
}