.section {}

.technology {
    padding: 0 15px;
}

.container {}

.technology-box-title {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #fbfbfb;
    border-radius: 24px;
    max-width: 1340px;
    /* height: 675px; */
    padding-top: 0;
    padding: 50px 50px 438px 50px;

}

.technology-title {
    font-weight: 500;
    font-size: 48px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #1b414b;
    text-align: start;
    width: 537px;

}

.technology-subtitle-box {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
    width: 404px;

}

.technology-subtitle {
    font-weight: 400;
    font-size: 23px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #1b414b;
}

.technology-text {
    font-weight: 400;
    font-size: 13px;
    line-height: 1.15;
    letter-spacing: -0.02em;
    color: #040306;
    opacity: 0.4;
}

.technology-img {
    border-radius: 0 24px 0 0;
    margin: 0 auto;
}